/* Resset Básico */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: sans-serif;
}

.container {
  height: 500px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: lightblue; 
}

/* Align-self -> Se pasa a un elemento en particular. 

Va a alinear en el eje transversal a ese elementos únicamente. 
Y sobre escribe la propiedad de align-items y su valor si se ha declarado en el contenedor. 
Recibe los mismos valores que align-items: -> start, end, center, stretch, baseline.

*/

.item {
  width: 100px; 
  height: 100px;
  align-self: ; 
  background-color: lightcoral;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid black;
}

.solito {
  align-self: flex-end;
  /* height: auto; */
}










