/* Resset Básico */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:antiquewhite;
  font-family:sans-serif;
}

.container {
   display: flex; /* Esto habilita las propiedades de Flexbox*/
   background-color: lightblue; 
}

/* Propiedades de Flexbox para los Items

  + Flex-grow -> Esta propiedad ajuste el factor de crecimiento de los elementos, en función del espacio disponible. El valor por default es 'auto'.
  
  Esta propiedad recibe valores númericos: 1, 2 ,3 ,4...El número que coloquemos es el factor de crecimiento.

  */

.item {
  flex-grow: auto; /*Este es su valor por default */
  flex-grow: 1; /* Va hacer que todos los items crezcan con el mismo factor. */
  background-color: lightcoral;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid black;
}

.puchunguito {
  flex-grow: -2; /* El item con esta clase, crece con un factor de 2. */
  background-color: green;
  color: white;
}

.michi {
  flex-grow: -1;
  background-color: pink;
}

.perrito {
  flex-grow: 2;
  background-color: darkred;
  color: white;
}

.fish {
  flex-grow: -1;
  background-color: purple;
  color: white;
}








